<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>User</th>
      <th>Number of Foods</th>
      <th>Total Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.user.name %></td>
        <td><%= recipe.user.foods.count %></td>
        <td><%= recipe.user.foods.sum(:price) %></td>
        <td><%= link_to 'Details', recipe_path(recipe) %></td>
        <td><%= link_to 'Foods', foods_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
