<!-- generate_shopping_list.html.erb -->

<h2>Shopping List for <%= @recipe.name %></h2>

<ul>
  <% @food_recipes.each do |food_recipe| %>
    <p>Food: <%=food_recipe.food.name%> </p>
    <p>Quantity: <%=food_recipe.quantity%></p>
    <p>Price: <%=food_recipe.food.price%></p>
  <% end %>
</ul>
<p>Total Cost: $<%= @total_cost %></p>
<p>Number of Items: <%= @item_count %></p>