<h1>Recipes</h1>
<%= link_to "Add Recipe", new_recipe_path %>
<% @recipes.each do |recipe| %>
  <div class="recipe">
    <h2><%= recipe.name %></h2>
    <p><%= recipe.description %></p>
    <p>
      <%= link_to 'View', recipe_path(recipe) %>
      <%= form_with(model: recipe, url: recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' }) do |f| %>
        <%= f.submit 'Remove', class: 'btn btn-danger' %>
      <% end %>
  
  </p>
  </div>
<% end %>
