<!-- app/views/food_recipes/index.html.erb -->

<h1>Food Recipes</h1>
<%= link_to "Add Food", new_food_path, class: "btn btn-primary" %>
<p>Number of Foods: <%= @food_count %></p>
<p>Total Food Cost: <%= @food_cost %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
        <td>
          <%= button_to "Delete", food, method: :delete, data: { confirm: 'Are you sure you want to delete this food?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

